/* CUSTOM SCROLLERS */

body::-webkit-scrollbar{
 width: 0.5em;
}

/* .table-container::-webkit-scrollbar {
    width: .3em;
} */

.table-container::-webkit-scrollbar, .section-scroller::-webkit-scrollbar {
    height: 0.3em;
    width: 0.3em;
}



body::-webkit-scrollbar-track, .table-container::-webkit-scrollbar-track, .section-scroller::-webkit-scrollbar-track {
    background-color: #beb7b7;
    border-radius: 100vw;
    margin-block: 0.3em;
}

body::-webkit-scrollbar-thumb, .table-container::-webkit-scrollbar-thumb, .section-scroller::-webkit-scrollbar-thumb { 
    background-color: #464242;
    border-radius: 100vw;
}

body::-webkit-scrollbar-thumb:hover, .table-container::-webkit-scrollbar-thumb:hover, .section-scroller::-webkit-scrollbar-thumb:hover {
    background-color: #2873be;
}




